:host
{
    width: 100%;
}
.quick-portfolio
{
    margin-top: 20px;
    background-color: var(--color-03);
    min-height: 600px;
    padding: 50px 20px;
}
.quick-portfolio .title
{
    color: var(--color-01);
    display: flex;
    justify-content: center;
    font-family: bahnschrift;
    font-size: var(--font-size-main-title);
    margin-bottom: 10px;
}
.quick-portfolio .description
{
    color: var(--color-64);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bahnschrift;
    font-size: var(--font-size-p-lm);
    margin-bottom: 40px;
}
.quick-portfolio-cards
{
    width: 100%;
    gap: 20px;
}