<div class="quick-portfolio">
  <div class="title">Portfolio</div>
  <div class="description">
    See my work in action, A showcase of projects, designs, and experiments that
    highlight my capabilities and passion for building.
  </div>
  <div class="quick-portfolio-cards flx-h flx-al-ctr flx-jc-se flx-wrap">
    @for (project of mustContains; track $index) {
    <app-quick-portfolio-card [project]="project" />
    } @for (project of quickProjects; track $index) {
    <app-quick-portfolio-card [project]="project" />
    }
  </div>
</div>
