:host
{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder-card
{
    width: auto;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    transition: 150ms;
}
.folder-card:hover
{
    filter: saturate(0.3);
}
.folder-svg
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 150ms;
}
.folder-svg svg
{
    /* width: 200px; */
    transform: scale(0.95);
}
#svg-folder-icon-path-01
{
    fill: #0d305e;
}
#svg-folder-icon-path-02
{
    fill: #1c4a87;
}
.folder-card-title
{
    color: #fff;
    font-family: bahnschrift;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 30px;
    right: -30px;
    display: flex;
    align-items: end;
    padding: 20px;
    font-size: 25px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    z-index: 5;
}
.folder-icon
{
    display: none;
}
@media (max-width: 700px) {
    :host
    {
        width: 100%;
    }
    app-folder-card
    {
        width: 90%;
    }
    .folder-card
    {
        background-color: #ededed3b;
        backdrop-filter: blur(20px);
        border: 1px solid #8080802e;
        border-radius: 10px;
        flex: 1 1 100%;
        max-width: 100%;
        height: 60px;
        overflow: visible;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    .folder-svg
    {
        display: none;
    }
    .folder-svg svg
    {
        transform: scale(1);
    }
    .folder-icon
    {
        width: 35px;
        height: 35px;
        display: block;
    }
    .folder-icon svg, .folder-icon svg *
    {
        fill: #16445c;
    }
    .folder-card-title
    {
        color: #16445c;
        font-family: bahnschrift;
        width: 100%;
        position: initial;
        padding: 0px;
        padding-left: 20px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
}