:host 
{
    width: 100%;
}
.a-skills-title
{
    padding: 20px;
    padding-left: 35px;
    font-size: 25px;
}
.about-skills
{
    width: inherit;
    background-color: var(--color-02);
    border: var(--br-style-017);
    backdrop-filter: blur(20px);
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 20px;
    padding: 30px;
}
.a-skills-cards-wrapper
{
    width: inherit;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 30px;
}
.about-skills::-webkit-scrollbar
{
    display: none;
}
.scroll-btn
{
    background-color: var(--color-25);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    border: var(--br-style-002);
    font-family: bahnschrift;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.scroll-btn:hover
{
    background-color: var(--color-26);
}
.scroll-btn.left
{
    left: 10px;
}
.scroll-btn.right
{
    right: 10px;
}
@media (max-width: 700px) {
    .a-skills-title
    {
        padding-left: 15px;
        font-size: 20px;
    }
    .about-skills
    {
        padding: 10px;
    }
    .a-skills-cards-wrapper
    {
        padding: 15px;
    }
    .scroll-btn
    {
        width: 40px;
        height: 40px;
    }
    .scroll-btn.left
    {
        transform: translateX(-7px);
    }
    .scroll-btn.right
    {
        transform: translateX(7px);
    }
}
@media (max-width: 1200px) {
    .about-skills
    {
        /* width: 100vw !important; */
    }
}