.quick-portfolio-card
{
    background-color: var(--color-49);
    min-width: 200px;
    min-height: 180px;
    max-width: 400px;
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: var(--pad-ms);
    transition: 250ms;
}
.qpc-image
{
    background-color: var(--color-50);
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.qpc-image img
{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 250ms;
}
.quick-portfolio-card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 5px 20px #32323234;
}
.quick-portfolio-card:hover .qpc-image img
{
    transform: scale(1.1);
}
.qpc-title
{
    color: var(--color-01);
    font-family: bahnschrift;
    font-size: var(--font-size-p-md);
}
.qpc-details
{
    font-family: bahnschrift;
    font-size: var(--font-size-p-sm);
    color: var(--color-29);
}
.qpc-btn
{
    color: var(--color-01);
    background: none;
    width: max-content;
    padding: 0 15px;
    height: 40px;
    font-family: bahnschrift;
    font-size: var(--font-size-p-sm);
    border-radius: 5px;
    border: var(--br-style-004);
    outline: none;
    cursor: pointer;
}
.qpc-btn:hover
{
    background-color: var(--color-02);
}
.qpc-btn:active
{
    background-color: var(--color-51);
}