div
{
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 350ms;
    position: relative;
}
.text
{
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    /* border: 1px solid red; */
    transition: 350ms;
}
.collapsed
{
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.dot
{
    bottom: 0;
    left: calc(100% - 20px);
    position: absolute;
    font-family: bahnschrift;
    font-size: var(--font-size-p-lg);
}
.toggler
{
    cursor: pointer;
    color: var(--fgc-main);
}