
:root
{
    --ttr: 0px;
}
.category
{
    background-color: var(--color-55);
    backdrop-filter: blur(20px);
    border: var(--br-style-001);
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    transition: 150ms;
}
.category:hover
{
    background-color: var(--color-71);
}
.category:active
{
    color: var(--color-03);
    background-color: var(--color-72);
}
.category:active .category-icon svg
{
    fill: var(--color-03);
}
.category:active .category-icon svg *
{
    fill: var(--color-03);
}
.activateSelection
{
    color: var(--color-03);
    background-color: var(--color-72);
}
.activateSelection:hover
{
    color: var(--color-03);
    background-color: var(--color-72);
}
.activateSelection svg, .activateSelection svg *
{
    fill: var(--color-03) !important;
}
.title
{
    font-size: 16px;
    font-family: bahnschrift;
}
.category-icon
{
    width: 30px;
    height: 30px;
}
.category-icon svg, .category-icon svg *
{
    fill: var(--color-54);
}
@property --tree-height {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
.category-content-tree
{
    width: 100%;
    display: flex;
    height: var(--ttr);
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: height 250ms, opacity 300ms;
    /* opacity: 0%; */
}
.container .category.activateSelection + .category-content-tree
{
    overflow: visible;
}
@media (max-width: 700px) {
    app-category
    {
        height: initial !important;
    }
}