.nav-page
{
    background-color: var(--color-23);
    backdrop-filter: blur(10px) saturate(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: opacity 250ms;
}
.nav-page nav ul
{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: bahnschrift;
    gap: 30px;
    list-style: none;
}
.nav-page nav ul a
{
    color: var(--color-03);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}