<div class="summary">
  <div class="title">Summary</div>
  <div class="summary-body flx-h flx-wrap">
    <div class="summary-info flx-h">
      <div class="summary-p">
        <app-paragraph [text]="summaryParagraph.text"/>
      </div>
      <div class="quick-icon flx-h flx-jc-ctr flx-al-ctr">
          <img
          [@swapIcon]="animationState"
          #quickIcon
          src="https://raw.githubusercontent.com/ezzelden-hashem/portfolio/refs/heads/main/src/assets/imgs/3d-icons/rocket/dynamic/color.png"
          alt="@PngIcon"
        />
      </div>
    </div>
    <div class="summary-cards-wrapper flx-h flx-al-ctr flx-jc-se flx-wrap">
      
       @for (cardData of summaryCardsData; track $index) {
        <app-summary-card [summaryCardData]="cardData"/>
       }
    </div>
  </div>
</div>
