.dark-green
{
    --color-01             : #22e111;
    --color-02             : #36363654;
    --color-03             : #282828;
    --color-04             : #c9c9c9;
    --color-05             : #8080802e;
    --color-06             : #c0c7c0;
    --color-07             : #808080;
    --color-08             : #d1d1d1;
    --color-09             : #ad6ba759;
    --color-10             : #00000000;
    --color-11             : #68946e54;
    --color-12             : #ffffff33;
    --color-13             : #00ef20;
    --color-14             : #e2f0e4;
    --color-15             : #ffffff4d;
    --color-16             : #3f8f4858;
    --color-17             : #6f409654;
    --color-18             : #10531a92;
    --color-19             : #d4d4d4;
    --color-20             : #ffffff62;
    --color-21             : #dbdbdb2e;
    --color-22             : #8b8b8b;
    --color-23             : #000000ab;
    --color-24             : #81da97;
    --color-25             : #e9f0e9;
    --color-26             : #d6ddd6;
    --color-27             : #b5ffb9;
    --color-28             : #18821c;
    --color-29             : #aaaaaa;
    --color-30             : #26b349;
    --color-31             : #215528;
    --color-32             : #e1e1e1;
    --color-33             : #757575;
    --color-34             : #838383;
    --color-35             : #3a3a3a;
    --color-36             : #292c2a;
    --color-38             : #1a6628;
    --color-39             : #64f669;
    --color-40             : #42f54e;
    --color-41             : var(--color-47);
    --color-42             : #648b6b;
    --color-43             : #38513c;
    --color-44             : #10b981;
    --color-45             : #059669;
    --color-46             : #ef4444;
    --color-47             : #4242424f;
    --color-48             : #c5d4c5;
    --color-49             : #32373295;
    --color-50             : #dee9df95;
    --color-51             : #e2e2e2;
    --color-52             : #9bff99;
    --color-53             : #8a8a8a;
    --color-54             : #ababab;
    --color-55             : #5d645d54;
    --color-56             : #8be49754;
    --color-57             : #ba8be454;
    --color-58             : #00000033;
    --color-59             : #ffffff;
    --color-60             : #ededed92;
    --color-61             : #ccdacf54;
    --color-62             : #0d5e18;
    --color-63             : #1e871c;
    --color-64             : #ffffff;
    --color-65             : #ffffffa2;
    --color-66             : #acacac;
    --color-67             : #0000005c;
    --color-68             : #00cc0e;
    --color-69             : #1b3020cd;
    --color-70             : #2d5c3225;
    --color-71             : #0dfc002e;
    --color-72             : #00ab17fb;
    --color-73             : #6bad7054;
    --color-74             : #72be7654;
    --color-75             : #906bb054;
    --color-76             : #9970bc54;
    --color-77             : #7b5b9654;
    --color-78             : #a7b4cd54;
    --color-79             : #536755d4;
    --color-80             : #008a193a;
    --color-81             : #ededed3b;
    --color-82             : #00980f00;
    --color-83             : #165c2a33;
    --color-84             : #111111;
    --color-85             : #ffffff;
    --color-86             : #1c7c0f;
    --color-87             : #d6ebd9;
    --br-style-001         : 1px solid var(--color-05);
    --br-style-002         : 1px solid var(--color-06);
    --br-style-003         : 1px solid var(--color-07);
    --br-style-004         : 1px solid var(--color-08);
    --br-style-005         : 1px solid var(--color-09);
    --br-style-006         : 1px solid var(--color-10);
    --br-style-007         : 1px solid var(--color-11);
    --br-style-008         : 1px solid var(--color-12);
    --br-style-009         : 2px solid var(--color-13);
    --br-style-010         : 2px solid var(--color-14);
    --br-style-011         : 2px solid var(--color-15);
    --br-style-012         : 2px solid var(--color-16);
    --br-style-013         : 2px solid var(--color-17);
    --br-style-014         : 2px solid var(--color-18);
    --br-style-015         : 4px solid var(--color-19);
    --br-style-016         : 5px solid var(--color-20);
    --br-style-017         : 1px solid var(--color-05);
}