.dark-purple
{
    --color-01             : #8011e1;
    --color-02             : #36363654;
    --color-03             : #282828;
    --color-04             : #c9c9c9;
    --color-05             : #8080802e;
    --color-06             : #c5c0c7;
    --color-07             : #808080;
    --color-08             : #d1d1d1;
    --color-09             : #6b94ad59;
    --color-10             : #00000000;
    --color-11             : #80689454;
    --color-12             : #ffffff33;
    --color-13             : #6c00ef;
    --color-14             : #e8e2f0;
    --color-15             : #ffffff4d;
    --color-16             : #633f8f58;
    --color-17             : #406f9654;
    --color-18             : #39105392;
    --color-19             : #d4d4d4;
    --color-20             : #ffffff62;
    --color-21             : #dbdbdb2e;
    --color-22             : #8b8b8b;
    --color-23             : #000000ab;
    --color-24             : #b681da;
    --color-25             : #ece9f0;
    --color-26             : #d9d6dd;
    --color-27             : #deb5ff;
    --color-28             : #511882;
    --color-29             : #aaaaaa;
    --color-30             : #6526b3;
    --color-31             : #372155;
    --color-32             : #e1e1e1;
    --color-33             : #757575;
    --color-34             : #838383;
    --color-35             : #3a3a3a;
    --color-36             : #2b292c;
    --color-38             : #3a1a66;
    --color-39             : #b764f6;
    --color-40             : #a442f5;
    --color-41             : var(--color-47);
    --color-42             : #7b648b;
    --color-43             : #483851;
    --color-44             : #10b981;
    --color-45             : #059669;
    --color-46             : #ef4444;
    --color-47             : #4242424f;
    --color-48             : #cdc5d4;
    --color-49             : #34323795;
    --color-50             : #e5dee995;
    --color-51             : #e2e2e2;
    --color-52             : #cc99ff;
    --color-53             : #8a8a8a;
    --color-54             : #ababab;
    --color-55             : #615d6454;
    --color-56             : #b38be454;
    --color-57             : #8bbfe454;
    --color-58             : #00000033;
    --color-59             : #ffffff;
    --color-60             : #ededed92;
    --color-61             : #d4ccda54;
    --color-62             : #330d5e;
    --color-63             : #591c87;
    --color-64             : #ffffff;
    --color-65             : #ffffffa2;
    --color-66             : #acacac;
    --color-67             : #0000005c;
    --color-68             : #7000cc;
    --color-69             : #271b30cd;
    --color-70             : #492d5c25;
    --color-71             : #8600fc2e;
    --color-72             : #4700abfb;
    --color-73             : #8b6bad54;
    --color-74             : #9e72be54;
    --color-75             : #6b81b054;
    --color-76             : #708dbc54;
    --color-77             : #5b7f9654;
    --color-78             : #bda7cd54;
    --color-79             : #5e5367d4;
    --color-80             : #40008a3a;
    --color-81             : #ededed3b;
    --color-82             : #6d009800;
    --color-83             : #4c165c33;
    --color-84             : #111111;
    --color-85             : #ffffff;
    --color-86             : #580f7c;
    --color-87             : #e1d6eb;
    --br-style-001         : 1px solid var(--color-05);
    --br-style-002         : 1px solid var(--color-06);
    --br-style-003         : 1px solid var(--color-07);
    --br-style-004         : 1px solid var(--color-08);
    --br-style-005         : 1px solid var(--color-09);
    --br-style-006         : 1px solid var(--color-10);
    --br-style-007         : 1px solid var(--color-11);
    --br-style-008         : 1px solid var(--color-12);
    --br-style-009         : 2px solid var(--color-13);
    --br-style-010         : 2px solid var(--color-14);
    --br-style-011         : 2px solid var(--color-15);
    --br-style-012         : 2px solid var(--color-16);
    --br-style-013         : 2px solid var(--color-17);
    --br-style-014         : 2px solid var(--color-18);
    --br-style-015         : 4px solid var(--color-19);
    --br-style-016         : 5px solid var(--color-20);
    --br-style-017         : 1px solid var(--color-05);
}