.dark-orange
{
    --color-01             : #e17211;
    --color-02             : #36363654;
    --color-03             : #282828;
    --color-04             : #c9c9c9;
    --color-05             : #8080802e;
    --color-06             : #c7c3c0;
    --color-07             : #808080;
    --color-08             : #d1d1d1;
    --color-09             : #ad6ba759;
    --color-10             : #00000000;
    --color-11             : #947c6854;
    --color-12             : #ffffff33;
    --color-13             : #ef7f00;
    --color-14             : #f0e8e2;
    --color-15             : #ffffff4d;
    --color-16             : #8f5e3f58;
    --color-17             : #6f409654;
    --color-18             : #53331092;
    --color-19             : #d4d4d4;
    --color-20             : #ffffff62;
    --color-21             : #dbdbdb2e;
    --color-22             : #8b8b8b;
    --color-23             : #000000ab;
    --color-24             : #daa381;
    --color-25             : #f0ece9;
    --color-26             : #ddd8d6;
    --color-27             : #ffd1b5;
    --color-28             : #823d18;
    --color-29             : #aaaaaa;
    --color-30             : #b35c26;
    --color-31             : #553521;
    --color-32             : #e1e1e1;
    --color-33             : #757575;
    --color-34             : #838383;
    --color-35             : #3a3a3a;
    --color-36             : #2c2a29;
    --color-38             : #663d1a;
    --color-39             : #f6a364;
    --color-40             : #f58742;
    --color-41             : var(--color-47);
    --color-42             : #8b7564;
    --color-43             : #514538;
    --color-44             : #10b981;
    --color-45             : #059669;
    --color-46             : #ef4444;
    --color-47             : #4242424f;
    --color-48             : #d4ccc5;
    --color-49             : #37343295;
    --color-50             : #e9e3de95;
    --color-51             : #e2e2e2;
    --color-52             : #ffc999;
    --color-53             : #8a8a8a;
    --color-54             : #ababab;
    --color-55             : #64605d54;
    --color-56             : #e4ad8b54;
    --color-57             : #ba8be454;
    --color-58             : #00000033;
    --color-59             : #ffffff;
    --color-60             : #ededed92;
    --color-61             : #dad1cc54;
    --color-62             : #5e2f0d;
    --color-63             : #873c1c;
    --color-64             : #ffffff;
    --color-65             : #ffffffa2;
    --color-66             : #acacac;
    --color-67             : #0000005c;
    --color-68             : #cc5500;
    --color-69             : #30241bcd;
    --color-70             : #5c3f2d25;
    --color-71             : #fc8f002e;
    --color-72             : #ab6400fb;
    --color-73             : #ad8e6b54;
    --color-74             : #be9e7254;
    --color-75             : #906bb054;
    --color-76             : #9970bc54;
    --color-77             : #7b5b9654;
    --color-78             : #cdb7a754;
    --color-79             : #675b53d4;
    --color-80             : #8a45003a;
    --color-81             : #ededed3b;
    --color-82             : #98470000;
    --color-83             : #5c361633;
    --color-84             : #111111;
    --color-85             : #ffffff;
    --color-86             : #7c390f;
    --color-87             : #ebe0d6;
    --br-style-001         : 1px solid var(--color-05);
    --br-style-002         : 1px solid var(--color-06);
    --br-style-003         : 1px solid var(--color-07);
    --br-style-004         : 1px solid var(--color-08);
    --br-style-005         : 1px solid var(--color-09);
    --br-style-006         : 1px solid var(--color-10);
    --br-style-007         : 1px solid var(--color-11);
    --br-style-008         : 1px solid var(--color-12);
    --br-style-009         : 2px solid var(--color-13);
    --br-style-010         : 2px solid var(--color-14);
    --br-style-011         : 2px solid var(--color-15);
    --br-style-012         : 2px solid var(--color-16);
    --br-style-013         : 2px solid var(--color-17);
    --br-style-014         : 2px solid var(--color-18);
    --br-style-015         : 4px solid var(--color-19);
    --br-style-016         : 5px solid var(--color-20);
    --br-style-017         : 1px solid var(--color-05);
}