.dark-pink
{
    --color-01             : #e11191;
    --color-02             : #36363654;
    --color-03             : #282828;
    --color-04             : #c9c9c9;
    --color-05             : #8080802e;
    --color-06             : #c7c0c3;
    --color-07             : #808080;
    --color-08             : #d1d1d1;
    --color-09             : #ad6ba759;
    --color-10             : #00000000;
    --color-11             : #94687954;
    --color-12             : #ffffff33;
    --color-13             : #ef005c;
    --color-14             : #f0e2e6;
    --color-15             : #ffffff4d;
    --color-16             : #8f3f5658;
    --color-17             : #6f409654;
    --color-18             : #53102c92;
    --color-19             : #d4d4d4;
    --color-20             : #ffffff62;
    --color-21             : #dbdbdb2e;
    --color-22             : #8b8b8b;
    --color-23             : #000000ab;
    --color-24             : #da819f;
    --color-25             : #f0e9ec;
    --color-26             : #ddd6d8;
    --color-27             : #ffb5d3;
    --color-28             : #821842;
    --color-29             : #aaaaaa;
    --color-30             : #b32655;
    --color-31             : #552133;
    --color-32             : #e1e1e1;
    --color-33             : #757575;
    --color-34             : #838383;
    --color-35             : #3a3a3a;
    --color-36             : #2c292a;
    --color-38             : #661a35;
    --color-39             : #f66492;
    --color-40             : #f5427b;
    --color-41             : var(--color-47);
    --color-42             : #8b6472;
    --color-43             : #513840;
    --color-44             : #10b981;
    --color-45             : #059669;
    --color-46             : #ef4444;
    --color-47             : #4242424f;
    --color-48             : #d4c5c9;
    --color-49             : #37323495;
    --color-50             : #e9dee295;
    --color-51             : #e2e2e2;
    --color-52             : #ff99b4;
    --color-53             : #8a8a8a;
    --color-54             : #ababab;
    --color-55             : #645d5f54;
    --color-56             : #e48bb254;
    --color-57             : #ba8be454;
    --color-58             : #00000033;
    --color-59             : #ffffff;
    --color-60             : #ededed92;
    --color-61             : #daccd254;
    --color-62             : #5e0d34;
    --color-63             : #871c3a;
    --color-64             : #ffffff;
    --color-65             : #ffffffa2;
    --color-66             : #acacac;
    --color-67             : #0000005c;
    --color-68             : #cc0058;
    --color-69             : #301b26cd;
    --color-70             : #5c2d4025;
    --color-71             : #fc00762e;
    --color-72             : #ab003cfb;
    --color-73             : #ad6b8954;
    --color-74             : #be728654;
    --color-75             : #906bb054;
    --color-76             : #9970bc54;
    --color-77             : #7b5b9654;
    --color-78             : #cda7b654;
    --color-79             : #67535dd4;
    --color-80             : #8a00473a;
    --color-81             : #ededed3b;
    --color-82             : #98004700;
    --color-83             : #5c163033;
    --color-84             : #111111;
    --color-85             : #ffffff;
    --color-86             : #7c0f31;
    --color-87             : #ebd6e0;
    --br-style-001         : 1px solid var(--color-05);
    --br-style-002         : 1px solid var(--color-06);
    --br-style-003         : 1px solid var(--color-07);
    --br-style-004         : 1px solid var(--color-08);
    --br-style-005         : 1px solid var(--color-09);
    --br-style-006         : 1px solid var(--color-10);
    --br-style-007         : 1px solid var(--color-11);
    --br-style-008         : 1px solid var(--color-12);
    --br-style-009         : 2px solid var(--color-13);
    --br-style-010         : 2px solid var(--color-14);
    --br-style-011         : 2px solid var(--color-15);
    --br-style-012         : 2px solid var(--color-16);
    --br-style-013         : 2px solid var(--color-17);
    --br-style-014         : 2px solid var(--color-18);
    --br-style-015         : 4px solid var(--color-19);
    --br-style-016         : 5px solid var(--color-20);
    --br-style-017         : 1px solid var(--color-05);
}