.light-blue
{
    --color-01             : #16445c;
    --color-02             : #ededed54;
    --color-03             : #ffffff;
    --color-04             : #c9c9c9;
    --color-05             : #8080802e;
    --color-06             : #c0c3c7;
    --color-07             : #808080;
    --color-08             : #212121;
    --color-09             : #ad6ba759;
    --color-10             : #00000000;
    --color-11             : #68779454;
    --color-12             : #ffffff33;
    --color-13             : #00558a;
    --color-14             : #e2e8f0;
    --color-15             : #ffffff4d;
    --color-16             : #3f738f58;
    --color-17             : #6f409654;
    --color-18             : #10315392;
    --color-19             : #d4d4d4;
    --color-20             : #ffffff62;
    --color-21             : #dbdbdb2e;
    --color-22             : #8b8b8b;
    --color-23             : #000000ab;
    --color-24             : #002740;
    --color-25             : #e9ecf0;
    --color-26             : #d6d9dd;
    --color-27             : #154b7a;
    --color-28             : #99cfff;
    --color-29             : #3d3d3d;
    --color-30             : #2671b3;
    --color-31             : #86b4dc;
    --color-32             : #e1e1e1;
    --color-33             : #f6f6f6;
    --color-34             : #e4e4e4;
    --color-35             : #e9e9e9;
    --color-36             : #eaebef;
    --color-38             : #1a5066;
    --color-39             : #64b5f6;
    --color-40             : #42a5f5;
    --color-41             : #f8fafc;
    --color-42             : #64748b;
    --color-43             : #f1f5f9;
    --color-44             : #10b981;
    --color-45             : #059669;
    --color-46             : #ef4444;
    --color-47             : #32323234;
    --color-48             : #c5c8d4;
    --color-49             : #eceef395;
    --color-50             : #dee1e995;
    --color-51             : #e2e2e2;
    --color-52             : #99d0ff;
    --color-53             : #8a8a8a;
    --color-54             : #525252;
    --color-55             : #d6ddea54;
    --color-56             : #8bc5e454;
    --color-57             : #ba8be454;
    --color-58             : #00000033;
    --color-59             : #1e293b;
    --color-60             : #ededed92;
    --color-61             : #ccd5da54;
    --color-62             : #0d305e;
    --color-63             : #1c4a87;
    --color-64             : #000000;
    --color-65             : #ffffffa2;
    --color-66             : #acacac;
    --color-67             : #0000005c;
    --color-68             : #007ecc;
    --color-69             : #1b2830cd;
    --color-70             : #2d4a5c25;
    --color-71             : #0076fc2e;
    --color-72             : #0050abfb;
    --color-73             : #6b96ad54;
    --color-74             : #72a3be54;
    --color-75             : #906bb054;
    --color-76             : #9970bc54;
    --color-77             : #7b5b9654;
    --color-78             : #a7b4cd54;
    --color-79             : #535a67d4;
    --color-80             : #00558a3a;
    --color-81             : #ededed3b;
    --color-82             : #00639800;
    --color-83             : #16445c33;
    --color-84             : #ffffff;
    --color-85             : var(--color-01);
    --color-86             : var(--color-01);
    --color-87             : var(--color-03);
    --br-style-001         : 1px solid var(--color-05);
    --br-style-002         : 1px solid var(--color-06);
    --br-style-003         : 1px solid var(--color-07);
    --br-style-004         : 1px solid var(--color-08);
    --br-style-005         : 1px solid var(--color-09);
    --br-style-006         : 1px solid var(--color-10);
    --br-style-007         : 1px solid var(--color-11);
    --br-style-008         : 1px solid var(--color-12);
    --br-style-009         : 2px solid var(--color-13);
    --br-style-010         : 2px solid var(--color-14);
    --br-style-011         : 2px solid var(--color-15);
    --br-style-012         : 2px solid var(--color-16);
    --br-style-013         : 2px solid var(--color-17);
    --br-style-014         : 2px solid var(--color-18);
    --br-style-015         : 4px solid var(--color-19);
    --br-style-016         : 5px solid var(--color-20);
    --br-style-017         : 1px solid var(--color-05);
}