:host
{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
}
.hero
{
    background-color: #ededed54;
    width: 100%;
    border-radius: var(--br-radius-md);
    backdrop-filter: blur(20px);
    border: var(--br-style-01);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero .text 
{
    width: 50%;
}
.hero .text .greeting
{
    color: #00558a;
    font-size: 60px;
    font-family: bahnschrift;
    font-weight: bold;
}
.hero .text .details
{
    color: #002740;
    font-size: 20px;
    font-family: bahnschrift;
}
.hero .image
{
    background-image: url(./../../assets/imgs/avatar-2.png);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-right: 50px;
}
.hero img
{
    width: 250px;
    object-fit: cover;
    object-position: center;
    margin-right: 50px;
}
.hero-btn
{
    background: none;
    min-width: 120px;
    min-height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.solid
{
    color: white;
    background-color: hsl(203, 100%, 27%);
}
.solid:hover
{
    background-color: hsl(203, 100%, 40%);
}
.wireframe
{
    border: 2px solid #00558a;
}
@media (max-width: 900px) {
    .hero
    {
        flex-direction: column-reverse;
    }
    .hero .text
    {
        width: 90%;
    }
    .hero .name
    {
        font-size: 30px;
    }
}
@media (max-width: 700px) {
    .hero .text .greeting
    {
        font-size: 40px;
    }
    .hero .text .details
    {
        font-size: 18px;
    }
    .hero .image
    {
        width: 200px;
        height: 250px;
        margin: 0;
    }
}
@media (max-width: 450px) {
    .hero
    {
        padding: 40px 20px;
    }
    .hero .text
    {
        width: 100%;
    }
    .hero .text .greeting
    {
        font-size: 20px;
    }
    .hero .text .name
    {
        font-size: 35px;
    }
}