<div class="hero">
    <div class="text">
        <div class="greeting">Hello, I'm <br>
            <div class="name">Ezzelden Mahmoud</div>
        </div>
        <div class="details">Blending clean code with creative precision, I build engaging, responsive web
            experiences using Angular, HTML, CSS, JavaScript, and ASP.NET. With a strong eye for 
            detail and design, I craft interfaces that are both functional and visually impactful.
        </div>
        <a routerLink="/portfolio"><button class="hero-btn solid">Portfolio</button></a>
        <button class="hero-btn wireframe" (click)="downloadCV()">Download CV</button>
    </div>
     <img src="https://raw.githubusercontent.com/ezzelden-hashem/portfolio/refs/heads/main/src/assets/imgs/avatar-2.png" alt="avatar-img">
</div>