.explore-card
{
    background-color: #eceef395;
    /* backdrop-filter: blur(20px); */
    min-height: 400px;
    min-width: 250px;
    max-width: 400px;
    border-radius: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: var(--pad-md);
    transition: 250ms;
}
.explore-card-content
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.explore-card:hover
{
    /* min-width: 400px; */
    transform: scale(1.05) translateY(5px);
    box-shadow: 0 0 20px #32323234;
    
}
.explore-card-active:hover
{
    /* min-width: 400px; */
    transform: scale(1.05) translateY(5px);
    box-shadow: 0 0 20px #32323234;
    
}
.explore-card-icon
{
    color: #154b7a;
    background-color: #99cfff;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bahnschrift;
    font-size: var(--font-size-p-lg);
}
.explore-card-title
{
    font-family: bahnschrift;
    font-size: var(--font-size-p-md);
    color: var(--fgc-main);
}
.explore-card-description
{
    font-family: bahnschrift;
    font-size: var(--font-size-p-sm);
    color: #3d3d3d;
}
.explore-card-active, .explore-card-active *
{
    color: #fff;
    background-color: #2671b3;
}
.explore-card-active svg
{
    background: none;
}
.explore-card-active .explore-card-icon
{
    color: #154b7a;
    background-color: #99cfff;
}
.explore-card-active .explore-card-btn
{
    color: #154b7a;
    background-color: #99cfff;
}
.explore-card-active .explore-card-btn:hover
{
    background-color: #86b4dc;
}
.explore-card-active .explore-card-btn:active
{
    background-color: #99cfff;
}
.explore-card-active .explore-card-description
{
    color: #e1e1e1;
}
.explore-card-btn
{
    background-color: #f6f6f6;
    width: 200px;
    min-height: 40px;
    border-radius: 40px;
    border: var(--br-style-01);
    transition: 100ms;
    font-family: bahnschrift;
    font-size: var(--font-size-p-md);
}
.explore-card-btn:hover
{
    background-color: #e4e4e4;
}
.explore-card-btn:active
{
    background-color: #f6f6f6;
}
@media (max-width: 700px) {
    .explore-card
    {
        min-height: 350px;
        /* min-width: 250px; */
        max-width: 300px;
    }
    .explore-card-active
    {
        min-height: 350px;
        /* min-width: 250px; */
        max-width: 300px;
    }
    .explore-card:hover 
    {
        transform: scale(1) translateY(0px);
        box-shadow: none;
    }
}