:host
{
    flex: 1;
    height: calc(100vh - var(--main-header-height));
    overflow: hidden;
}
.view-window
{
    background-color: var(--color-02);
    backdrop-filter: blur(20px);
    border: var(--br-style-001);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    flex: 1;
    padding: 30px;
    padding-bottom: 50px;
    overflow: auto;
}
.view-window .title
{
    color: var(--color-01);
    font-size: 22px;
    font-weight: bold;
    font-family: bahnschrift;
    padding-left: 30px;
    display: none;
}
@media (max-width: 700px) {
    /* :host
    {
        overflow: auto;
    } */
    .view-window
    {
        padding: 0px;
        border-radius: 0px;
        border: none;
        /* height: initial; */
        /* padding-bottom: 20px; */
    }
    .view-window .title
    {
        display: block;
    }
}