.page-container
{
    display: flex;
    justify-content: center;
    padding: 15px;
    box-sizing: content-box;
    box-sizing: border-box;
}
.portfolio
{
    width: 100%;
    display: flex;
    gap: 10px;

}
.explorer-scetion
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
@media (max-width: 700px) {
    .page-container
    {
        padding: 0px;
    }
    .portfolio
    {
        gap: 0px;
    }
    .explorer-scetion
    {
        height: calc(100vh - var(--main-header-height));
    }
}