:host
{
    width: 100%;
    height: 100%;
}
.category-card-wrapper
{
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
    padding: 30px;
    place-items: center;
    overflow: auto;
}
.category-card-wrapper-title
{
    color: var(--color-01);
    font-size: 22px;
    font-weight: bold;
    font-family: bahnschrift;
    display: none;
    padding-left: 30px;
    margin: 15px 0;
}
@media (max-width: 700px) {
    .category-card-wrapper
    {
        display: flex;
        flex-direction: column;
        place-items: normal;
        justify-content: start;
    }
    .category-card-wrapper-title
    {
        display: block;
    }
}