:host
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project
{
    width: 95%;
    background-color: var(--color-57);
    backdrop-filter: blur(20px);
    backdrop-filter: blur(0px);
    border: var(--br-style-001);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    /* transition: 150ms; */
    transition: border 0s, background-color 150ms;
}
.project:hover
{
    background-color: var(--color-75);
}
.project-title
{
    width: calc(100% - 30px);
    font-size: 16px;
    font-family: bahnschrift;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.project-icon
{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-project
{
    background-color: var(--color-76);
    border: var(--br-style-013);
}
.selected-project:hover
{
    background-color: var(--color-77);
}