*
{
    font-size: 20px;
    font-family: bahnschrift;
    user-select: none;
}
:host
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header
{
    padding: 10px 15px;
    width: 90%;
    height: var(--main-header-height);
    display: flex;
    top: -100px;
    opacity: 0%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: fixed;
    background-color: var(--color-02);
    backdrop-filter: blur(20px);
    border: var(--br-style-001);
    border-radius: 15px;
    z-index: 10;
    transition: 250ms;
}
a
{
    text-decoration: none;
}
.title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.title .icon
{
    width: 40px;
    height: 40px;
}
.title .text, .navigation nav li
{
    color: var(--color-01);
}
.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation nav
{
    position: relative;
}
.navigation nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navigation nav li
{
    list-style: none;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    transition: border-color 300ms;
    cursor: pointer;
    border-color: var(--color-82);
    border-width: 2px;
    border-style: solid;
}
.navigation nav li:hover
{
    border-color: var(--color-04);
}
.nav-btn
{
    border: var(--br-style-015);
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
}
.nav-btn .nb-line
{
    background-color: var(--color-22);
    width: 100%;
    height: 4px;
    border-radius: 5px;
}
.solid-btn
{
    color: var(--color-03) !important;
    background-color: var(--color-13);
    border: none !important;
    transition: 200ms !important;
}
.solid-btn:hover
{
    background-color: var(--color-68);
}
:host, .navigation nav ul
{
    transition: 250ms;
}
@media (max-width: 850px) {
    :host
    {
        padding: 0 5%;
    }
}
@media (max-width: 700px) {
    :host
    {
        padding: 0 10px;
    }
    .navigation nav ul
    {
        gap: 10px;

    }
    .navigation nav li
    {
        font-size: 20px;
    }
    .title .icon
    {
        padding: 5px;
    }
}
@media (max-width: 650px) {
    .navigation nav
    {
        max-width: 100px;
        display: none;
    }
    .nav-btn
    {
        display: flex;
    }
}