.img-grid
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.title
{
    width: 100%;
    font-size: 30px;
    font-family: bahnschrift;
    margin-bottom: 20px;
}
.img-cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;;
}
.img-card
{
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    filter: brightness(0.75) saturate(0.5);
    transition: 250ms;
    position: relative;
}
.img-card:hover
{
    filter: brightness(1) saturate(1);
}
.img-card img
{
    background-size: cover;
    image-rendering: optimizeSpeed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.loading-progress
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-67);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-progress .spinner
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bahnschrift;
    font-size: 20px;
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 0); 
    mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 0);
    transition: 250ms;
}
.thumbnail
{
    filter: blur(10px);
}
@keyframes spin {
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(-360deg);
    }
}