.a-skill-card
{
    background-color: var(--color-49);
    min-width: 250px;
    max-width: 300px;
    border-radius: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
    transition: 250ms;
}
.a-skill-card-content
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.a-skill-card:hover
{
    transform: scale(1.05) translateY(5px);
    box-shadow: 0 0 20px var(--color-47);
    
}
.a-skill-card-active:hover
{
    transform: scale(1.05) translateY(5px);
    box-shadow: 0 0 20px var(--color-47);
}
.a-skill-card-icon
{
    color: var(--color-27);
    background-color: var(--color-28);
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bahnschrift;
    font-size: var(--font-size-p-lg);
    margin-bottom: 15px;
}
.a-skill-card-title
{
    font-family: bahnschrift;
    font-size: var(--font-size-p-md);
    color: var(--color-01);
}
.a-skill-card-description
{
    font-family: bahnschrift;
    font-size: var(--font-size-p-sm);
    color: var(--color-29);
}
.a-skill-card-active, .a-skill-card-active *
{
    color: var(--color-03);
    background-color: var(--color-30);
}
.a-skill-card-active svg
{
    background: none;
}
.a-skill-card-active .a-skill-card-icon
{
    color: var(--color-27);
    background-color: var(--color-28);
}
.a-skill-card-active .a-skill-card-btn
{
    color: var(--color-27);
    background-color: var(--color-28);
}
.a-skill-card-active .a-skill-card-btn:hover
{
    background-color: var(--color-31);
}
.a-skill-card-active .a-skill-card-btn:active
{
    background-color: var(--color-28);
}
.a-skill-card-active .a-skill-card-description
{
    color: var(--color-32);
}
.a-skill-card-btn
{
    background-color: var(--color-33);
    width: 200px;
    min-height: 40px;
    border-radius: 40px;
    border: var(--br-style-017);
    transition: 100ms;
    font-family: bahnschrift;
    font-size: var(--font-size-p-md);
}
.a-skill-card-btn:hover
{
    background-color: var(--color-34);
}
.a-skill-card-btn:active
{
    background-color: var(--color-33);
}
@media (max-width: 700px) {
    .a-skill-card
    {
        max-width: 300px;
        padding: 20px;
    }
    .a-skill-card-active
    {
        max-width: 300px;
    }
    .a-skill-card:hover 
    {
        transform: scale(1) translateY(0px);
        box-shadow: none;
    }
}