<!-- [ngStyle]="{
            left: progressObject().photo.posX + 'px',
            top: progressObject().photo.posY + 'px',
            transform: `scale(${progressObject().photo.scale}) translateX(-50%) translateY(50%)`
        }" -->

<div class="about-header">
    <div class="a-header-banner" (window:scroll)="animateOnScroll()" #headerBanner>
        <img src="./../../../../assets/imgs/about-banner.jpg" alt="">
        
        <div class="a-header-photo">
            <!-- <img src="./../../../../assets/imgs/bb.webp" alt=""> -->
            <img src="./../../../../assets/imgs/profile-picture-02.jpg" alt="">
             
        </div>
        
    </div>
    <div class="glass-space"> </div>
    
    
</div>