@font-face {
    font-family: bahnschrift;
    src: url(./assets/fonts/BAHNSCHRIFT.TTF);
}
@font-face {
    font-family: nasa;
    src: url(./assets/fonts/NASALIZATION.OTF);
}
/* You can add global styles to this file, and also import other style files */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    /* color: white;
    background-color: black; */
}
a
{
    text-decoration: none;
}
/* .icon svg
{
    fill: #525252;
    transition: 250ms;
}
.icon svg *
{
    fill: #525252;
    transition: 250ms;
}
.category:active .icon svg
{
    fill: white;
}
.category:active .icon svg *
{
    fill: white;
} */
