.nav-bar
{
    background-color: var(--color-02);
    backdrop-filter: blur(20px);
    border: var(--br-style-001);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0 15px;
    overflow-x: auto;
    overflow-y: hidden;
}
.segment
{
    background-color: var(--color-55);
    font-size: 17px;
    font-family: bahnschrift;
    width: max-content;
    height: 25px;
    padding: 0 10px;
    border: var(--br-style-006);
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 150ms;
}
.segment:hover
{
    background-color: var(--color-78);
    border: var(--br-style-007);
}
.segment.separator
{
    background: none;
    user-select: none;
    cursor: pointer;
}
.separator
{
    color: var(--color-79);
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 25px;
    font-family: bahnschrift;
    user-select: none;
}
@media (max-width: 700px) {
    :host
    {
        display: none;
    }
}