:host
{
    width: 100%;
    height: 100%;
}
.projects-wrapper
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 30px;
    /* align-content: start;
    justify-content: start; */
    /* place-items: center; */
    /* place-content: center; */
    overflow: auto;
}
@media (max-width: 700px) {
    .projects-wrapper
    {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 5px;
    }
}