<div class="about-summary">
    <div class="a-summary-text-content">
        <div class="a-summary-title">Hi, I'm <br> <span class="a-summary-large-text">Ezzelden Hashem</span> </div>
        <div class="a-summary-headline">a self-learner and professional creator who values simplicity, efficiency, and innovation.</div>
        <div class="a-summary-paragraph">I graduated from the Faculty of Agriculture, Cairo University, Department of Animal Production. <span class="line-brake"></span> During my studies, I realized my real drive comes from building systems, solving problems, and creating useful digital solutions.</div>
    </div>
</div>